$arrowBtnSize: 20px;
$arrowMargin: 10px;

.sideNavigatorBtn {
    display: flex;
    align-items: center;
}

.sideNav_arrowBtn {
    border-radius: 100%;
    background-color: transparent;
    margin: 0 $arrowMargin;
    & img {
        width: $arrowBtnSize;
        height: $arrowBtnSize;
        margin: 2px 0;
    }
}



