.App {
    margin-top: 97px;
    margin-left: 30px;
    background-color: white;
    display: flex;
    border: 1px black solid;
    width: 150vh;
    height: 30vh;
    flex-direction: column;
    align-items: center;
}


