$arrowBtnSize: 20px;
$arrowMargin: 10px;

.sideNavigator {    
    width: 100%;
    text-align: center;
}

.dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.dropdownBtn {
    width: 100%;
    max-width: 190px;
}

